<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Roken</h1>
            <p class="lead">lets play Kenken</p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
                <script async type="text/javascript"
                        src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom"
                        id="_carbonads_js"></script>
            </div>
        </div>
    </div>

</div>